body {
  background: url("./assets/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.gamestore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .store-title {
    font-family: monospace;
    color: #D708A6;
    font-size: 5em;
    text-shadow: 0 0 12px rgba(0,0,0,0.6);
  }

  .bundles_container {
    display: flex;
    flex-wrap: wrap;

    .bundle {
      transition: transform 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}